USE [master]
GO
/****** Object:  Database [countries]    Script Date: 3/3/2022 5:26:02 PM ******/
CREATE DATABASE [countries]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'countries', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\countries.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'countries_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\countries_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [countries].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [countries]
GO
/****** Object:  User [testautomation]    Script Date: 3/3/2022 5:26:02 PM ******/
CREATE USER [testautomation] FOR LOGIN [testautomation] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[iso]    Script Date: 3/3/2022 5:26:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[iso](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[street] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[zip] [int] NULL,
	[state] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
